Importing dependencies

In [77]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error,r2_score

Data collection and Processing

In [78]:
#load the data from csv file to pandas dataframe
t_data = pd.read_csv('/content/Melbourne_housing_FULL.csv', error_bad_lines=False, engine ='python')

In [79]:
# printing the frist 5 rows of the datafram
t_data.head()

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [80]:
#number of rows and columns
t_data.shape

(34857, 21)

In [81]:
#count missing values in each column
t_data.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

Handling missing values

In [82]:
#drop the 'cabin' column from the dataframe
t_data= t_data.drop(columns='YearBuilt', axis =1)
t_data= t_data.drop(columns='BuildingArea', axis=1)
t_data= t_data.drop(columns='Landsize', axis=1)

In [83]:
#replacing the missing values in "Age" column with the mean value
t_data['Propertycount'].fillna(t_data['Propertycount'].mean(), inplace=True)
t_data['Postcode'].fillna(t_data['Postcode'].mean(), inplace=True)
t_data['Distance'].fillna(t_data['Distance'].mean(), inplace=True)

# fillna= fill not available

In [84]:
t_data['Regionname'].fillna(t_data['Regionname'].mode(), inplace=True)
t_data['Bathroom'].fillna(t_data['Bathroom'].mean(), inplace=True)
t_data['Car'].fillna(t_data['Car'].mean(), inplace=True)

In [85]:
t_data['Bedroom2'].fillna(t_data['Bedroom2'].median(), inplace=True)
t_data['Lattitude'].fillna(t_data['Lattitude'].mode(),inplace=True)
t_data['Longtitude'].fillna(t_data['Longtitude'].mode(),inplace=True)

In [86]:
#finding mode value of "CouncilArea" column
print(t_data['CouncilArea'].mode())
print(t_data['Price'].mode())
print(t_data['Regionname'].mode())
print(t_data['Lattitude'].mode())
print(t_data['Longtitude'].mode())

0    Boroondara City Council
dtype: object
0     600000.0
1    1100000.0
dtype: float64
0    Southern Metropolitan
dtype: object
0   -37.8361
dtype: float64
0    144.9966
dtype: float64

In [87]:
#replacing the missing values in 'Embarked' columns with mode values
t_data['CouncilArea'].fillna(t_data['CouncilArea'].mode()[0],inplace=True)
t_data['Price'].fillna(t_data['Price'].mode()[0],inplace=True)
t_data['Regionname'].fillna(t_data['Regionname'].mode()[0],inplace=True)
t_data['Lattitude'].fillna(t_data['Lattitude'].mode()[0],inplace=True)
t_data['Longtitude'].fillna(t_data['Longtitude'].mode()[0],inplace=True)

In [88]:
#count missing values in each column
t_data.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [89]:
t_data.head()

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 18 columns]

In [90]:
t_data= t_data.drop(columns='Date', axis =1)
t_data= t_data.drop(columns='Address', axis=1)
t_data= t_data.drop(columns='SellerG', axis=1)
t_data= t_data.drop(columns='Regionname',axis=1)

In [91]:
#incode categoircal column 
t_data = pd.get_dummies(t_data, columns=['Type'])
t_data = pd.get_dummies(t_data,columns=['Method'])
t_data = pd.get_dummies(t_data,columns= ['CouncilArea'])
# t_data = pd.get_dummies(t_data,columns= ['Regionname'])
t_data = pd.get_dummies(t_data,columns=['Suburb'])

In [92]:
t_data.head()

   Rooms      Price  ...  Suburb_croydon  Suburb_viewbank
0      2   600000.0  ...               0                0
1      2  1480000.0  ...               0                0
2      2  1035000.0  ...               0                0
3      3   600000.0  ...               0                0
4      3  1465000.0  ...               0                0

[5 rows x 406 columns]

Seprate Target and Feature

In [93]:
x=t_data.drop(columns='Price', axis=1)

In [94]:
y=t_data['Price']

Spliting the data into training data and testing data

In [123]:
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.4,random_state=0)

In [124]:
print(x_train.shape, x_test.shape, x.shape)

(20914, 405) (13943, 405) (34857, 405)

Model Training using LINEAR REGRESSION

In [125]:
# L_Reg= Lasso(normalize= True)
L_Reg= Lasso().fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.275e+15, tolerance: 7.668e+11
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

Model Evaluation 

Accuracy score

In [126]:
y_predict_train= L_Reg.predict(x_train)
np.sqrt(mean_squared_error(y_train,y_predict_train))

466354.33210702427

In [127]:
r2_score(y_train,y_predict_train)

0.40684789374090025

In [128]:
y_predict= L_Reg.predict(x_test)
np.sqrt(mean_squared_error(y_test,y_predict))

455049.4747325924

In [129]:
r2_score(y_test, y_predict)

0.391718501519038